.App {
  text-align: center;
  .app-container {
    width: 60rem;
    margin-left: 26%;
    margin-top: 3%;
    .location-container {
      padding-bottom: 55px;
      .city {
        display: inline;
        font-size: 60px;
        font-weight: 100;
      }
      .weather-icon {
        display: inline;
        position: relative;
        top: 30px;
      }
      .description {
        font-size: 25px;
        font-weight: 300;
      }
    }
    .main-temp {
      font-size: 75px;
      font-weight: 300;
    }
    .range-container {
      margin-top: 25px;
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 75px;
      .temp-min {
        display: inline;
        padding-right: 50px;
      }
      .temp-max {
        display: inline;
      }
    }
    .zip-label {
      margin-top: 75px;
      margin-right: 152px;
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: 400;
    }
    #zipcode {
      border-radius: 4px;
      border: 2px solid#A9A9A9;
      height: 40px;
      width: 140px;
      margin-right: 20px;
      margin-left: 125px;
      padding-left: 15px;
      font-size: 18px;
      font-weight: 100;
    }
    .update-btn {
      height: 45px;
      width: 185px;
      border-radius: 9px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
