@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.App {
  text-align: center;
  .app-container {
    width: 60rem;
    margin: auto;
    margin-top: 3%;
    .location-container {
      padding-bottom: 55px;
      .city {
        display: inline;
        font-size: 60px;
        font-weight: 100;
      }
      .weather-icon {
        display: inline;
        position: relative;
        top: 30px;
      }
      .description {
        font-size: 35px;
        font-weight: 300;
      }
    }
    .main-temp {
      font-size: 75px;
      font-weight: 300;
    }
    .range-container {
      margin-top: 25px;
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 75px;
      .temp-min {
        display: inline;
        padding-right: 50px;
      }
      .temp-max {
        display: inline;
      }
    }
    form {
      margin-right: 15%;
      .zip-label {
        margin-top: 75px;
        margin-right: 152px;
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: 400;
        font-family: "Lato", sans-serif;
      }
      #zipcode {
        border-radius: 4px;
        border: 2px solid#A9A9A9;
        height: 40px;
        width: 140px;
        margin-right: 20px;
        margin-left: 125px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 100;
      }
      .update-btn {
        height: 45px;
        width: 185px;
        border-color: #979797;
        border-radius: 9px;
        font-size: 20px;
        font-weight: 600;
        background-color: #dcdcdc;
        background-image: linear-gradient(#d8d8d8, #b3b3b3);
        color: #696969;
        box-shadow: inset 1px 1px 20px 0 #dcdcdc;
        text-shadow: 1px 1px 20px #dcdcdc;
      }
    }
  }
}
